// =============================================================================
//
// Cards
//
// =============================================================================

.card {

  display: grid;
  grid-template-rows: repeat(2, 1fr) 3fr;
  justify-items: center;
  margin-bottom:rem(25);

  width: 100%;
  max-width: 38%;

  @include change-at('tablet') {
    margin: 0 0 rem(25);
  }

  &:not(:last-of-type) {
    margin-right: rem(16);
  }

  &__image {
    grid-row: 1 / span 2;
    grid-column: 1;
    max-height: rem(73px);
    width: auto;
    z-index: 1;
  }

  &__quoteblock {
    grid-row: 2 / span 2;
    grid-column: 1;
    padding: rem(49) rem(20) rem(33);

    background-color: $card-background;
    color: $headline-color;
  }

  &__name {
    font-weight: 700;
    font-size: rem(16);
    margin-bottom: rem(16);
    text-align: center;
  }

  &__quote {
    color: $text-color;
    text-align: center;
  }
  
}