// =============================================================================
// Animated HamburgerMenu
// =============================================================================

.hamburger-menu {
  width: rem(16);
  z-index: 500;

  &:hover {
    cursor: pointer;
  }

  > span {
    display: block;
    height: 4px;
    background-color: $secondary-color;
    width: 25px;
    transition: all .3s ease-in-out;

    &:not(:last-of-type) {
      margin-bottom: 3px;
    }
  }

  &.is--open {
    span:nth-child(1) {
      transform: rotate(45deg);
      transform-origin:top left;
      width: 27px;
    }
  
    span:nth-child(2) {
      opacity: 0;
      width: 0;
    }
  
    span:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: bottom left;
      width: 27px;
    }
  }

  @include change-at('tablet') {
    display: none;
  }
}