.navigation {
  display: none;

  @include change-at('tablet') {
    display: flex;
  }

  &__link{
    font-weight: 500;
    &:not(:last-of-type) {
      margin-right: $size-m;
    }

    transition: color .3s ease-in-out;

    &:hover {
      color: $text-color;
    }
  }

  &__button {
    display: none;

    @include change-at('tablet') {
      display: block;
    }
  }
}