// =============================================================================
// 8p System
// =============================================================================


//Used for Typography, Layout, Spacings. Expand and customize as needed.
$size-base:                             rem(16px);

$size-xxs:                              rem(4px);
$size-xs:                               rem(8px);
$size-s:                                rem(24px);
$size-m:                                rem(32px);
$size-l:                                rem(48px);
$size-xl:                               rem(56px);
$size-xxl:                              rem(96px);

// =============================================================================
// Typography
// =============================================================================

//Font-Sizes
$font-size-h1:                                 $size-xxl;
$font-size-h2:                                 $size-l;
$font-size-h3:                                 rem(42px);
$font-size-h4:                                 rem(42px);
$font-size-h5:                                 rem(42px);
$font-size-h6:                                 rem(42px);
$font-size-h7:                                 rem(42px);

$body-copy:                              $size-base;

$body-copy-font-family:                 'Nunito';
$headline-font-family:                  'Nunito';

// =============================================================================
// Layout
// =============================================================================

$grid-gap:                          $size-m; //Set 0 if none is needed

$sidebar-size:                      rem(240px);


$section-gap:                       $size-l; //Set 0 if none is needed
$section-gap-desktop:               $size-xl; //Set 0 if none is needed

//container sizes
$container-is-wide:                 1600px;
$container-is-small:                1200px;

// =============================================================================
// Colors
// =============================================================================

$text-color:                      #000000;
$background-color:                #f1f1f1;

// =============================================================================
// UI
// =============================================================================

$border-radius:                      5px;
$line-color:                        $background-color;
$box-shadow:                        0 1px 3px 0 rgba(0, 0, 0, .1);


$card-background:                   #ffffff;