@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');
// =============================================================================
// 8p System
// =============================================================================


//Used for Typography, Layout, Spacings. Expand and customize as needed.
$size-base:                             rem(16px);

$size-xxs:                              rem(4px);
$size-xs:                               rem(8px);
$size-s:                                rem(24px);
$size-m:                                rem(32px);
$size-l:                                rem(40px);
$size-xl:                               rem(48px);
$size-xxl:                              rem(56px);

// =============================================================================
// Typography
// =============================================================================

//Font-Sizes
$font-size-h1:                                 clamp(#{rem(40px)}, #{"1.8906rem + 2.7083vw"}, #{rem(53px)});
$font-size-h2:                                 clamp(#{rem(29px)}, #{"1.3906rem + 1.8750vw"}, #{rem(38px)});
$font-size-h3:                                 rem(42px);
$font-size-h4:                                 rem(42px);
$font-size-h5:                                 rem(42px);
$font-size-h6:                                 rem(42px);

//inbetween values calculated from https://codesandbox.io/s/clamp-linear-intepolation-based-on-viewport-width-builder-xgkft?from-embed

$body-copy:                              $size-base;

$body-copy-font-family:                 'Be Vietnam', sans-serif;
$headline-font-family:                  $body-copy-font-family;

// =============================================================================
// Layout
// =============================================================================

$grid-gap:                          rem(45px);
$grid-gap-desktop:                  rem(117px); //Set 0 if none is needed

$sidebar-size:                      rem(540px);


$section-gap:                       rem(47px); //Set 0 if none is needed
$section-gap-desktop:               rem(91px); //Set 0 if none is needed

//container sizes
$container-is-wide:                 1111px; //Max container size on Desktop
$container-is-small:                 437px; // Max container size von Tablet

// =============================================================================
// Colors
// =============================================================================

$primary-color:                   hsl(12, 88%, 59%);
$primary-light-color:             hsl(13, 100%, 96%);
$secondary-color:                 hsl(228, 39%, 23%);
$secondary-light-color:           hsl(0, 0%, 98%);

$text-color:                      hsl(227, 12%, 61%);
$headline-color:                  $secondary-color;

$navigation-link-color:           hsl(233, 12%, 13%); 

$background-color:                #ffffff;

// =============================================================================
// UI
// =============================================================================

$border-radius:                     rem(44px);
$line-color:                        $background-color;
$box-shadow:                        0 1px 3px 0 rgba(0, 0, 0, .1);


$card-background:                   $secondary-light-color;