// =============================================================================
//
// Handle overall Template Parts
// Remove unneded Parts
//
// =============================================================================

%grid {
  display: grid;
}

@mixin grid-gap {
  grid-gap: $grid-gap;

  @include change-at('desktop') {
    grid-gap: $grid-gap-desktop;
  }
}