@import 'template-global';
// =============================================================================
//
// Handle Template with left sidebar
//
// =============================================================================


//Generate Template
// =============================================================================

@mixin with-left-sidebar {
  @extend %grid;

  @include change-at('tablet') {
    grid-template-columns: [left-sidebar] $sidebar-size [content] auto;
  }

}

@mixin is-left-sidebar {
  grid-column: left-sidebar;
}

@mixin is-content() {
  grid-column: content;
  grid-row: 1;
}

//Helper Classes
// =============================================================================

.with-left-sidebar {

  @include with-left-sidebar();
  @include grid-gap();

}

.is-left-sidebar {
  @include is-left-sidebar();
}

.is-content {
  @include is-content();
}