@import 'template-global';
// =============================================================================
//
// Handle Template with both sidebars
//
// =============================================================================

//Generate Template
// =============================================================================

@mixin with-both-sidebars {
  @extend %grid;

  grid-template-rows: [nav] auto [main] auto [left-sidebar] auto [right-sidebar] auto [footer] auto;
  grid-template-columns: [content] 1fr;

  @include change-at('tablet') {
    grid-template-rows: [nav] auto [main] auto [footer] auto;
    grid-template-columns: [left-sidebar] $sidebar-size [content] 1fr [right-sidebar] $sidebar-size;
  }
}

@mixin is-right-sidebar {
  grid-column: right-sidebar;
}

@mixin is-left-sidebar {
  grid-column: left-sidebar;
}

@mixin is-content() {
  grid-column: content;
  grid-row: 1;
}


//Helper Classes
// =============================================================================
.with-both-sidebars {
  @include with-both-sidebars();
  @include grid-gap();
}

.is-right-sidebar {
  @include is-right-sidebar;
}

.is-left-sidebar {
  @include is-left-sidebar();
}

.is-content {
  @include is-content();
}