// =============================================================================
//
// Container Sizes
//
// =============================================================================

%container {
  margin: 0 auto;
  width: 100%;
}

.with-large-container {
  @extend %container;
  max-width: rem($container-is-wide);
  padding: 0 $size-s;

  @include change-at('tablet'){
    padding: 0;
  }
}
