// =============================================================================
//
// Container Sizes
//
// =============================================================================

%container {
  margin: 0 auto;
  width: 100%;
}

.with-large-container {
  @extend %container;
  max-width: rem($container-is-small);
  padding-left:rem(16);
  padding-right:rem(16);

  @include change-at('tablet') {
    max-width: rem($container-is-wide);
  }
}
