// =============================================================================
//
// Container Sizes
//
// =============================================================================

%container {
  margin: 0 auto;
  width: 100%;
}

.with-large-container {
  @extend %container;
  max-width: rem($container-is-wide);
}

.with-small-container {
  @extend %container;
  max-width: rem($container-is-small);
}
