// =============================================================================
// Flexbox Mixins
// =============================================================================

%display-flex {
  display: flex;
}

@mixin flexbox-centered {
  @extend %display-flex;
  justify-content: space-between;
  align-items: center;
}