// =============================================================================
// Flexbox Mixins
// =============================================================================

%display-flex {
  display: flex;
}

@mixin flexbox-space-between-center {
  @extend %display-flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexbox-space-between-baseline {
  @extend %display-flex;
  justify-content: space-between;
  align-items: baseline;
}