// =============================================================================
//
// Create & Use Grid
//
// =============================================================================

.has-grid {
  display: grid;
  gap: 19px;
  //grid-template-columns: repeat(auto-fit, minmax($sidebar-size, 1fr));
  
  @include change-at('tablet') {
    grid-template-columns: minmax(auto, 436px) minmax(auto, 540px);
    gap: $grid-gap;
  }
}
